<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pelis!</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">

</head>
  <!-- Navigation -->

<body id="page-top">
<header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Películas</h1>
      <h3 class="mb-5">
        <em>Aquí puedes registrar tus películas.</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Regístralas</a>
    </div>
    <div class="overlay"></div>
</header>


  <!-- About -->
  <section >
    <br>
    <br>
    <br>
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Crear películas</h2>
      <a class="btn btn-primary btn-xl" href="/film_create/">Nueva</a>
      <a href="{% url 'film_create' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <br>
    <br>
    <br>
  </section>

  <section class="content-section bg-light" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Listado de películas!</h2>

            {% for film in f %}
                <div class="post">
                  <h1><a href= "/film_detail/{{ film.id }}/" >{{ film.title }} ---   {{film.opening_text}}</a></h1>
                  - <a href="/film_delete/{{ film.id }}/" class="btn btn-danger">Eliminar</a>
                  - <a href="/app/user_update/{{ user.id }}/" class="btn btn-primary">Editar</a>

                    </div>
            
                {% empty %}
                <p class="lead mb-5">No hay resultados</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->

  <!-- Call to Action -->
  <!-- <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section> -->

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/jrco1989/Start_Wars">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Yosmanmanía 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/stylish-portfolio.min.js"></script>

</body>

</html>